@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
// Colors
$beneficient-blue: #2f5BE3;

.check {
  margin-bottom: 40px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

body, .heading, input {
  font-family: 'Lato' !important;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 22px;
}

form > .text-field, .buttons {
  margin: 22px 0;
}

.buttons {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}