@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

// Colors
$beneficient-box: #2f5BE3;

// Fonts
$primary-font: "Lato";

// Styles 
.title {
  // flex: 1;
  font-family: $primary-font;
  font-size: 50px;
  width: 60%;
  float: left;
}

.text {
  // flex: 1.2;
  font-family: $primary-font;
  text-align: left;
  width: 60%;
}

.form {
  // flex: 3;
  display: flex;
  flex-direction: column;
  width: 60%;

  .text-field {
    flex: 5;
    margin-bottom: 20px;
  }

  .signup-button {
    margin-top: 20px;
    font-family: $primary-font;
  }
}
