@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import '../../styles/mixins.scss';

// Colors
$beneficent-box: #2f5BE3;

// Fonts
$primary-font: Lato;
$box-min-height: 800px;
$logo-max-height: 90px;

// Place holder for size of the box
%form-box-size {
  height: 540px;
  width: 900px;
}

// Styles 
.container {
  min-height: 100vh;
}

.form-box {
  display: flex;
  @extend %form-box-size;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .beneficent-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: $beneficent-box;
    border-radius: 15px 0px 0px 15px;
    padding-top: 25%;

    .beneficent-logo {
      text-align: center;
      height: 80px;
      filter:
        sepia(100%)
        saturate(0)
        brightness(150%)
        contrast(150%);
    }
  }

  .form-panel {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 10%;
    border-radius: 0px 15px 15px 0px;
    background-color: #fff;
  }

  @include mobile() {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    min-height: $box-min-height; 

    .beneficent-panel {
      flex: 0 50vw;
      padding-top: 0;
      align-items: center;
      border-radius: 0px 0px 0px 0px;
      min-height: 200px;
      
      .beneficient-logo {
        height: 18vw;
        max-height: $logo-max-height;
      }
    }

    .form-panel {
      border-radius: 0px 0px 0px 0px;
      flex: 2;
      justify-items: center;
    }
  }

}
