@import '../../styles/mixins.scss';

$form-width-desktop: 65%;
$form-width-mobile: 75%;
$text-field-container-min-height: 90px;
$button-min-width: 85px;

.reset-request {
  .title {
    flex: 1.5;
    width: $form-width-desktop;
    float: left;
  }

  .text { flex: 1.5;
    text-align: left;
    width: $form-width-desktop;
    padding-top: 10px;
  }

  .sent-text {
    flex: 1;
    text-align: left;
    width: $form-width-desktop;
    white-space: initial;
    word-wrap: break-word;
    padding-top: 10px;
  }

  .sent-email {
    flex: 1;
    text-align: center;
    width: $form-width-desktop;
    word-wrap: break-word;
  }

  .check-box {
    width: 150px;
  }

  .sent-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
  }

  .form {
    flex: 2.5;
    display: flex;
    width: $form-width-desktop;
    
    .email-request-field {
      flex: 0;
      min-height: $text-field-container-min-height;
    }

    .button-group {
      display: flex;
      justify-content: space-between;
      width: 55%;
      flex-wrap: wrap;
    }

    .button {
      min-width: $button-min-width;
      margin-top: 10px;
      height: 35px;
      align-self: flex-end;
    }
  }

  @include mobile() {
    .title {
      flex: 0;
      width: $form-width-mobile;
    }
    .text {
      width: $form-width-mobile;
      flex: 0.5;
    }

    .sent-text {
      width: $form-width-mobile;
      margin-bottom: 50px;
      flex: 0;
    }
    .sent-email {
      flex: 0;
      text-align: center;
      width: $form-width-mobile;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .form {
      width: $form-width-mobile;
      .email-request-field {
        min-height: $text-field-container-min-height;
      }

      .button-group {
        display: flex;
        width: 100%;
      }

      .button {
        width: 200px;
      }
    }
  }
}